<table class="table">
    <tr>
        <td colspan="6">
            <a href="#!/tac-gia/add" class="btn btn-success">Add</a>
        </td>
    </tr>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Age</th>
        <th>Action</th>
    </tr>

    <tr ng-repeat="value in danhsach">
        <td>{{value.id}}</td>
        <td>{{value.ten}}</td>
        <td>{{value.gioiTinh == "true" ? "Nam" : "Nữ"}}</td>
        <td>{{value.diaChi}}</td>
        <td>{{value.tuoi}}</td>
        <td>
            <a href="#!/tac-gia/{{value.id}}/edit" class="btn btn-warning">Edit</a>
            <button ng-click="onDelete(value.id)" class="btn btn-danger">Delete</button>
        </td>
    </tr>
</table>