<div class="mb-3">
    <label for="nmae" class="form-label">Tên</label>
    <input type="text" class="form-control" id="nmae" ng-model="inputValue.name">
</div>

<div class="mb-3">
    <label for="price" class="form-label">Giá</label>
    <input type="number" class="form-control" id="price" ng-model="inputValue.price">
</div>

<div class="mb-3">
    <label for="cateName" class="form-label">Category Name</label>
    <input type="text" class="form-control" id="cateName" ng-model="inputValue.categoryName">
</div>

<button class="btn btn-primary" ng-click="onAdd()">Submit</button>