<h1>Add product</h1>
<br>
<label for="" class="form-label">Name:</label>
<input type="text" ng-model="inputValue.name" class="form-control">
<p class="text-danger" ng-if="checkData.name">Chua nhap ten</p>

<label for="" class="form-label">Price:</label>
<input type="number" ng-model="inputValue.price" class="form-control">
<p class="text-danger" ng-if="checkData.price">Chua nhap gia</p>
<p class="text-danger" ng-if="checkData.priceFomat">Gia phai la so nguyen duong > 100</p>

<label for="" class="form-label">CategoryName:</label>
<input type="text" ng-model="inputValue.categoryName" class="form-control">
<p class="text-danger" ng-if="checkData.categoryName">Chua chon danh muc</p>

<br>
<button ng-click="onAdd()" class="btn btn-success">Add</button>