<table class="table table-striped">
    <tr>
        <th>Họ tên</th>
        <td>
            <input type="text" placeholder="Họ tên" ng-model="inputValue.name">
        </td>
        <td>
            <p style="color: red;" ng-if="checkData.name">Chua nhap ten</p>
        </td>
    </tr>

    <tr>
        <th>giới tính</th>
        <td>
            <label for="">Nam</label>
            <input type="radio" value="Nam" ng-model="inputValue.gender">

            <label for="">Nữ</label>
            <input type="radio" value="Nữ" ng-model="inputValue.gender">
        </td>
        <td>
            <p style="color: red;" ng-if="checkData.gender">Chua chon gioi tinh</p>
        </td>
    </tr>

    <tr>
        <th>Năm sinh</th>
        <td>
            <input type="number" placeholder="Năm sinh" ng-model="inputValue.namsinh">
        </td>
        <td>
            <p style="color: red;" ng-if="checkData.namsinh">Chua nhap nam sinh</p>
        </td>
    </tr>

    <tr>
        <th>Level</th>
        <td>
            <select name="" id="" ng-model="inputValue.level">
                <option value="">Level</option>
                <option value="70" >Cấp 1</option>
                <option value="90" >Cấp 2</option>
                <option value="120" >Cấp 3</option>
            </select>
        </td>
        <td>
            <p style="color: red;" ng-if="checkData.level">Chua chon level</p>
        </td>
    </tr>

    <tr>
        <th>Số giờ làm việc</th>
        <td>
            <input type="number" placeholder="Số giờ làm việc" ng-model="inputValue.sogiolam">
        </td>
        <td>
            <p style="color: red;" ng-if="checkData.sogiolam">Chua nhap so gio lam</p>
        </td>
    </tr>
</table>

<div class="text-center">
    <button class="btn btn-primary" ng-click="save()">Save</button>
</div>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Họ tên</th>
        <th>giới tính</th>
        <th>Tuổi</th>
        <th>Tổng lương</th>
    </tr>

    <tr ng-repeat="value in nhanvien">
        <td>{{ value.id }}</td>
        <td>{{ value.name }}</td>
        <td>{{ value.gender }}</td>
        <td>{{ 2023 - value.namsinh }}</td>
        <td>{{ value.tongluong }}k</td>
        <td>
            <a href="" class="btn btn-danger" ng-click="delete(value.id)">Xóa</a>
            <a href="" class="btn btn-success" ng-click="edit(value.id)">Sửa</a>
        </td>
    </tr>
</table>