<div class="banner-about">
    <div class="px-4" style="margin: 0 auto;">
        <div class="row">
            <div class="col-md-5 col-12 pe-md-5">
                <p class="text-banner text-white m-0 fw-medium">
                    Khám phá ngàn hàng lựa chọn tận hưởng cuộc sống với
                    <span>
                        <img src="assets/img/logo/traveloka.svg" alt="">
                    </span>
                </p>
            </div>

            <div class="img-banner col-7 d-none d-md-block">
                <img width="100%" src="assets/img/banner/1667231753129-2993c7252175bca7967efaebf34b4950.webp" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-center fs-3 mb-5" style="line-height: 1.75;">
        Traveloka
        <br>
        Sống, đậm chất riêng
    </h2>

    <div class="text-content py-3">
        <div class="row pb-5">
            <div class="col-md-4 col-12 mb-3">
                <img width="100%" src="assets/img/banner/1667232016060-4b5babb4a860fb692d969ae3480cc6a1.webp" alt="">
            </div>

            <div class="col-md-8 col-12">
                <div class="px-md-5" style="line-height: 30px;">
                    Traveloka là siêu ứng dụng du lịch và tiện ích sống hàng đầu
                    Đông Nam Á, chúng tôi giúp bạn khám phá và mua đa dạng các loại
                    sản phẩm du lịch, dịch vụ địa phương và dịch vụ tài chính. Danh mục
                    sản phẩm toàn diện của Traveloka bao gồm các dịch vụ đặt phương tiện
                    đi lại như vé máy bay, xe buýt, tàu hỏa, cho thuê ô tô, đưa đón sân bay,
                    cũng như kho khách sạn chỗ ở lớn nhất Đông Nam Á. Không chỉ vậy, để
                    giúp bạn thực hiện nhiều ước vọng về phong cách sống của mình,
                    chúng tôi còn hoàn thiện các dịch vụ của mình với một loạt các điểm
                    tham quan, hoạt động địa phương cũng như các spa chăm sóc sức khỏe và
                    sắc đẹp. Vì vậy, bất kể lựa chọn lối sống của bạn là gì, bạn chỉ cần
                    một cú nhấp chuột!
                </div>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-md-8 col-12 order-1 order-md-0">
                <div class="px-md-5" style="line-height: 30px;">
                    Traveloka tin rằng hạnh phúc có thể đến dưới nhiều hình thức đối với những người khác nhau
                    trong
                    những thời điểm khác nhau. Vì vậy, với uy tín của chúng tôi và kinh nghiệm hơn 10 năm, chúng
                    tôi
                    hứa hẹn với bạn một loạt các lựa chọn phong phú để thắp sáng trạng thái hạnh phúc của chính
                    bạn.
                    Cho dù bạn đang tìm kiếm một trải nghiệm thú vị hay nghỉ ngơi trong khu nghỉ dưỡng 5 sao,
                    một
                    ngày spa thư giãn hay một chuyến phiêu lưu ly kỳ, một chuyến bay hạng nhất tiện lợi hay
                    chuyến
                    đi đường bộ thú vị, cho cả chuyến đi trong nước và quốc tế, bạn đều có tất cả trong một ứng
                    dụng
                    Traveloka.

                    Với dịch vụ chăm sóc khách hàng 24/7 bằng các ngôn ngữ địa phương cũng như hơn 30 phương
                    thức
                    thanh toán địa phương khác nhau, Traveloka đã được tải xuống hơn 100 triệu lần, trở thành
                    ứng
                    dụng du lịch và tiện ích sống phổ biến nhất ở khu vực Đông Nam Á.

                    Bạn còn chờ gì nữa? Đặt một chuyến đi được lên kế hoạch chu đáo hoặc một kỳ nghỉ được quyết
                    định
                    vào phút chót với chúng tôi. Với tất cả các lựa chọn du lịch và phong cách sống độc đáo của
                    bạn,
                    như mọi khi, Traveloka sẽ đồng hành cùng bạn.
                </div>
            </div>

            <div class="col-md-4 col-12 order-0">
                <img width="100%" src="assets/img/banner/1667232268871-776cfde10b5577c7b2d483fb04ced52f.webp" alt="">
            </div>

            <div class="col-12 pt-5 order-1 order-md-0">
                <button class="btn-about text-white px-4 py-2 rounded-3 fw-semibold border-0 d-block m-auto">Khám
                    phá thêm</button>
            </div>
        </div>
    </div>
</div>