<div class="container mt-md-5">
    <div class="mb-3 order-1 order-md-0 mt-4 mt-md-0">
        <h1 class="fs-3">HQH Sea View Apartment Nha Trang</h1>

        <span class="fw-semibold border border-start-0 border-bottom-0 border-top-0 px-1 border-dark-subtle">
            <i class="fa-solid fa-star"></i>
            5.0
        </span>

        <span class="px-1">
            Thành phố Nha Trang, Khánh Hòa, Việt Nam
        </span>
    </div>

    <div class="row order-0">
        <div class="col-12 avatar-room p-0 p-md-2">
            <!-- <a href="#!/trang-chu"
                class="d-inline-block d-md-none text-decoration-none text-black position-absolute bg-white p-2 rounded-circle text-center"
                style="top: 20px; left: 20px; width: 32px; height: 32px;">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-chevron-left" style="height: 32px; width: 32px;"></i>
                </div>
            </a> -->

            <img width="100%" height="100%" src="assets/img/room/235d56fe-4241-4267-a24c-c70fdb4f8711.webp" alt=""
                class="rounded-md-4">
        </div>
    </div>

    <div class="row mt-md-5 mt-1 pb-5 order-1 order-md-0">
        <div class="col-md-7 col-12">
            <div class="d-flex mb-3 align-items-center justify-content-between border-top pt-3 pt-md-0"
                id="border-md-0">
                <div>
                    <div>
                        <h2 class="fs-3">
                            Căn hộ của Tùng
                        </h2>
                    </div>

                    <div>
                        <ul class="list list-unstyled">
                            <li class="d-inline-block">5 người</li>
                            <li class="d-inline-block">2 phòng ngủ</li>
                            <li class="d-inline-block">2 giường</li>
                        </ul>
                    </div>
                </div>

                <div class="avatar-host rounded-circle overflow-hidden">
                    <img width="100%" height="100%" src="assets/img/user/received_5472438276117315.jpeg" alt="">
                </div>
            </div>

            <div class="border-top pt-5 mb-5">
                <h4 class="fs-4 mb-4">Về địa điểm này</h4>

                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In animi dolorem qui non,
                        laudantium tenetur delectus. Fugiat, magnam tempora voluptate accusamus possimus in
                        dicta accusantium.
                    </p>
                </div>
            </div>

            <div class="border-top pt-5">
                <h4 class="fs-4 mb-4">Tiện nghi</h4>

                <div class="row">
                    <div class="col-md-6 col-12 pb-4 fs-5">
                        <i class="fa-solid fa-umbrella-beach pe-3 fs-5"></i>
                        <span>
                            Lối ra biển
                        </span>
                    </div>

                    <div class="col-md-6 col-12 pb-4 fs-5">
                        <i class="fa-solid fa-utensils pe-3 fs-5"></i>
                        <span>
                            Bữa sáng
                        </span>
                    </div>

                    <div class="col-md-6 col-12 pb-4 fs-5">
                        <i class="fa-solid fa-wifi pe-3 fs-5"></i>
                        <span>
                            Wifi
                        </span>
                    </div>

                    <div class="col-md-6 col-12 pb-4 fs-5">
                        <i class="fa-solid fa-water-ladder pe-3 fs-5"></i>
                        <span>
                            Bể bơi
                        </span>
                    </div>

                    <div class="col-6 pb-4 fs-5 d-none d-md-block">
                        <i class="fa-solid fa-tv pe-3 fs-5"></i>
                        <span>
                            TV
                        </span>
                    </div>

                    <div class="col-6 pb-4 fs-5 d-none d-md-block">
                        <i class="fa-solid fa-elevator pe-3 fs-5"></i>
                        <span>
                            Thang máy
                        </span>
                    </div>

                    <div class="col-6 pb-4 fs-5 d-none d-md-block">
                        <i class="fa-solid fa-square-parking pe-3 fs-5"></i>
                        <span>
                            Để xe miễn phí
                        </span>
                    </div>

                    <div class="col-6 pb-4 fs-5 d-none d-md-block">
                        <i class="fa-solid fa-inbox pe-3 fs-5"></i>
                        <span>
                            Giặt sấy
                        </span>
                    </div>

                    <div class="col-12 pt-4 d-none d-md-block">
                        <button class="border-1 px-3 py-3 bg-white rounded-3 fw-medium">Xem thêm 52 tiện
                            nghi</button>
                    </div>

                    <div class="col-12 pt-4 d-block d-md-none">
                        <button class="border-1 px-3 py-3 bg-white rounded-3 fw-medium">Xem thêm 56 tiện
                            nghi</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-5 d-none d-md-block">
            <div class="service position-sticky">
                <div class="p-3 border rounded-4 shadow">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="">
                            <span class="fw-semibold fs-4">$976 </span>/đêm
                        </span>

                        <span class="fw-semibold">
                            <i class="fa-solid fa-star"></i>
                            5.0
                        </span>
                    </div>

                    <div class="row border border-dark-subtle rounded-3 mt-4 m-0">
                        <div class="col-6 check-in">
                            <p class="text-uppercase mb-0 fw-bolder">check-in</p>
                            <span>23/03/2023</span>
                        </div>

                        <div class="col-6 check-out">
                            <p class="text-uppercase mb-0 fw-bolder">check-out</p>
                            <span>24/04/2024</span>
                        </div>

                        <div class="col-12 quantity-guests">
                            <p class="text-uppercase mb-0 fw-bolder">Số lượng</p>
                            <span>2 khách</span>
                        </div>
                    </div>

                    <div class="mt-4 btn-dat">
                        <button class="rounded-3 border-0 text-white fw-semibold" onclick="location.href='#!/thanh-toan'">Đặt
                            phòng</button>
                    </div>

                    <div class="mt-4 d-flex flex-column justify-content-between">
                        <div class="mt-1">
                            <div>
                                <div class="d-flex justify-content-between mt-3">
                                    <div>
                                        $976 x 2 đêm
                                    </div>

                                    <div>
                                        <span class="fw-semibold">$1.952</span>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between mt-3">
                                    <div>
                                        Clean fee
                                    </div>

                                    <div>
                                        <span class="fw-semibold">$10</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 pt-3 border-top border-dark-subtle">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <span class="fs-5 fw-semibold">Tổng tiền</span>
                                </div>

                                <div>
                                    <span class="fw-semibold">$1.962</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rate border-top py-5 mt-3 order-1 order-md-0">
        <h2 class="fs-4 mb-5">
            <i class="fa-solid fa-star"></i>
            5.0 · 40 đánh giá
        </h2>

        <div>
            <div class="row">
                <div class="col-md-6 col-12 mb-3">
                    <div class="info d-flex align-items-center mb-3">
                        <div class="avatar-user rounded-circle overflow-hidden me-3">
                            <img width="100%" height="100%" src="assets/img/user/received_5472438276117315.jpeg" alt="">
                        </div>

                        <div>
                            <p class="m-0 fw-semibold">Tùng</p>
                            <p class="m-0 text-secondary">11/11/2011</p>
                        </div>
                    </div>

                    <div class="cmt me-5">
                        <p class="lh-lg">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates officiis ut
                            tenetur explicabo cum ducimus, quae blanditiis amet, quasi veritatis dolore fugit
                            quos eaque id?
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-12 mb-3">
                    <div class="info d-flex align-items-center mb-3">
                        <div class="avatar-user rounded-circle overflow-hidden me-3">
                            <img width="100%" height="100%" src="assets/img/user/received_5472438276117315.jpeg" alt="">
                        </div>

                        <div>
                            <p class="m-0 fw-semibold">Tùng</p>
                            <p class="m-0 text-secondary">11/11/2011</p>
                        </div>
                    </div>

                    <div class="cmt me-5">
                        <p class="lh-lg">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates officiis ut
                            tenetur explicabo cum ducimus, quae blanditiis amet, quasi veritatis dolore fugit
                            quos eaque id?
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-12 mb-3">
                    <div class="info d-flex align-items-center mb-3">
                        <div class="avatar-user rounded-circle overflow-hidden me-3">
                            <img width="100%" height="100%" src="assets/img/user/received_5472438276117315.jpeg" alt="">
                        </div>

                        <div>
                            <p class="m-0 fw-semibold">Tùng</p>
                            <p class="m-0 text-secondary">11/11/2011</p>
                        </div>
                    </div>

                    <div class="cmt me-5">
                        <p class="lh-lg">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci tenetur impedit
                            aliquid veritatis non laboriosam deserunt. Accusantium corporis vel mollitia ipsam?
                            Beatae asperiores error quas!
                        </p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="pt-4">
                        <button class="border-1 px-3 py-3 bg-white rounded-3 fw-medium">Xem thêm 50 đánh
                            giá</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="d-inline-block d-md-none text-center">
        <div class="row fixed-bottom bg-white p-3">
            <div class="col-7">
                <div>
                    <span class="fw-semibold fs-4">
                        $976
                    </span>

                    <span>
                        /đêm
                    </span>
                </div>

                <div class="fs-6 text-secondary">
                    <span>
                        11/11/2011
                    </span>
                    <span> - </span>
                    <span>
                        22/02/2022
                    </span>
                </div>
            </div>

            <div class="col-5 d-flex align-items-center">
                <div class="btn-dat">
                    <button class="rounded-3 border-0 text-white fw-semibold" onclick="location.href='#!/thanh-toan'">Đặt
                        phòng</button>
                </div>
            </div>
        </div>
    </div>
</div>