<h1>Bài 3</h1>
<table border="5" class="table table-hover">
    <tr>
        <th>Hinh</th>
        <th>Ten</th>
        <th>Tuoi</th>
        <th>Gioi tinh</th>
        <th>Diem</th>
    </tr>

    <tr>
        <td><img src="{{ info[0].img }}" height="100" alt=""></td>
        <td>{{info[0].name}}</td>
        <td>{{info[0].date}}</td>
        <td>{{info[0].gender}}</td>
        <td>{{info[0].dtb}}</td>
    </tr>

    <tr>
        <td><img src="{{ info[1].img }}" height="100" alt=""></td>
        <td>{{info[1].name}}</td>
        <td>{{info[1].date}}</td>
        <td>{{info[1].gender}}</td>
        <td>{{info[1].dtb}}</td>
    </tr>

    <tr>
        <td><img src="{{ info[2].img }}" height="100" alt=""></td>
        <td>{{info[2].name}}</td>
        <td>{{info[2].date}}</td>
        <td>{{info[2].gender}}</td>
        <td>{{info[2].dtb}}</td>
    </tr>
</table>